* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    font-size: 10px;
    background-image: url('/image/backgroundPage.jpg');

    background-size: cover; /* Щоб зображення розтягувалося, щоб воно вміщалося у всі вікно */
   
    background-repeat: no-repeat; /* Щоб зображення не повторювалося */
}


.main-bar {
    background-color: rgb(155, 155, 155) ;
    height:5rem ;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-title {
    color: rgb(249, 249, 249);
    font-size: 1.8rem;
    margin-top: 25px;
    margin-left: 10px;
}

.bell-svg {
    height: 35px;
    width: 35px;
    stroke: white;
}

.default-user-jpg {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 2px solid #32de84;
}

.user-name {
    
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 8%;
 
}

.user-profile {
    cursor: pointer;
    /* display: flex; */
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.bell {
    
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1rem;
      
}

@keyframes bell-dot-animation {
    
    0% {
        
    top: 30%;
    }
    25% {
    top: 28%;
    }
   50% {
     top: 23%;
     width: 1.5rem;
    height: 1.5rem;
    left: 50%;

   }
   75% {
    top: 28%;
   }
   100% {
    top: 30%;
   }
}

.bell-dot {
    animation-name: bell-dot-animation;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    /* animation-iteration-count: 3 infinite; */
    animation: bell-dot-animation 0.5s infinite;
    width: 0.5rem;
    height: 0.5rem;
    background-color: orange;
    border-radius: 30%;
    position: absolute;
    top: 30%;
    right: 25%;
    /* animation-play-state: paused;  */
    cursor: pointer;
}
.bell-dot:hover {
    animation-play-state: running; 
}
.user-panel {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-right: 2rem;
}


.menu-tag {
    
    a:link {
        color: rgba(85, 90, 92, 0.974);
        text-decoration: none;
    }
     a:hover {
        color: black;  
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    a:active {
        color: black;
        text-decoration: none;
        
    }
    a:visited {
        color: black;
        text-decoration: none;
    }
    color: rgba(85, 90, 92, 0.974);
    font-size: 30px;
    margin-left: 2.2rem;
    margin-top: 2.2rem;
}

.set-Table {
    position: relative;
}

.students-title-table{
    position: absolute ;
    color: black;
    font-size: 40px;
    /* margin-left: 17rem;
    margin-top: -6rem; */
    left: 300px;
    top: -80px;
    transform: translateX(0%);
    cursor: pointer;
}

.students-title-table:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.students-table {
    table {
        position: relative;
        width: 60%;
        height: 40%;
        font-size: 20px;
        margin-top: 6%;
        margin-left: 25%;
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 2px;
        background-color: rgb(214, 215, 215);
  
        
    }
     th, td {
        font-size: 20px;
        /* margin-top: 10rem;
        margin-left: 30rem; */
        border: 1px solid black;
        padding: 15px;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 2px;
    
    }
}

.add-Button {
    background-color: rgb(214, 215, 215);
    font-size: 34px;
    position: absolute;
    left: 1213px;
    top: -50px;
    border: 0.5px solid black;
    padding: 0 15px;
    cursor: pointer;
   
    
}
.add-Button:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.table-Listing {
    cursor: pointer;
    position: absolute;
    font-size: 25px;
    display: flex;
    left: 47%;
    top: 110%;
    gap: 3%;
    
   
}

.back {
    border: 0.5px solid black;
    padding: 0 15px;
}
.first {
    border: 0.5px solid black;
    padding: 0 15px;
}

.second {
    border: 0.5px solid black;
    padding: 0 15px;
}

.third {
    border: 0.5px solid black;
    padding: 0 15px;
}

.four {
    border: 0.5px solid black;
    padding: 0 15px;
}
.next {
    border: 0.5px solid black;
    padding: 0 15px;
}

.user-status {
    background-color: #32de84;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    margin-left: 40%;
}

 
.button-edit {
cursor: pointer;
/* flex-direction: row; */
    
}
.delete-Students-Button {
    cursor: pointer;
    margin-left: 10%;
    /* flex-direction: row; */

}

.userProfileAfterClick {
display: none;
font-size: 20px;
margin-left: 86%;
margin-top: -24.8%;
}

.userProfileAfterClick_back {
 background-color: white;
 width: 220px;
 height: 120px;
 margin-top: -40%;
 margin-left: -10%;
 border: 0.5px solid black;

    }

.message-profile {
display: none;
margin-left: 77%;
margin-top: -38.5%;

}

.message-backgroung{
    background-color: white;
    width: 290px;
    height: 140px;
    margin-top: 50%;
    margin-left: 10%;
    border: 0.5px solid black;
   
}

.default-user-jpg-profile {
    
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
   
}
.message-icons-profile {
    margin-top: -30%;
    margin-left: 13%;
}

.message-name-profile {
    margin-left: 15%;
    font-size: 15px;
}

.message-textbox-profile {
    background-color: rgb(196, 191, 191);
    width: 180px;
    height: 55px;
    border-radius: 10%;
    margin-left: 35%;
    margin-top: -15%;
}

.Add_Edit-Students-Backgrounds{
    position: absolute;
    background-color: white;
    opacity: 1;
    border: 1px solid black;
    border-radius: 2%;
    left: 33%;
    top: 10%;
    width: 650px;
    height: 550px;
}

.Add_Edit-nameTag{
    font-weight:600;
    font-size: 20px;
    margin-left: 3%;
    margin-top: 7%;
}
.Add-Edit-tag {
    font-size: 20px;
    gap: 10px;
    margin-left: 17%;
    margin-top: 15%;
}
.Add-Edit-tag-SignIn {
    font-size: 20px;
    gap: 10px;
    margin-left: 17%;
    margin-top: 30%;
}
.Add_Edit-Students-line1{
    background-color: black;
    margin-top: 17%;
    width: 650px;
    height: 2px;
    position: absolute;
    /* margin-left: 32%;
    margin-top: -30%; */
}
.Add_Edit-Students-line2{
    background-color: black;
    margin-top: 70%;
    width: 650px;
    height: 2px;
    position: absolute;
    /* margin-left: 32%;
    margin-top: -30%; */
}
.Add_Edit-Students-exit-button{
    width: 40px;
    height: 40px;
    margin-left: 90%;
    margin-top: -52.5%;
    cursor: pointer;
}
.SignIn-exit-button{
    width: 40px;
    height: 40px;
    margin-left: 90%;
    margin-top: -50%;
    cursor: pointer;
}

.Add_Edit-Students-input{
    size: 50;
    margin-left: 38%;
    margin-top: -30%;
}

.Add-Edit-Students {
    display: none;
}

.button-students-add {
    margin-left: 80%;
    margin-top: 65%;
    display: flex;
    }


    .button-signInClass{
        margin-left: 43%;
        margin-top: 65%;
    }

    .button-signIn {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      cursor: pointer;
      border: 3px solid;
      padding: 0.25em 0.5em;
      box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-signIn:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
    
    @media (min-width: 768px) {
      .button-signIn {
        padding: 0.25em 0.75em;
      }
    }

.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

.formButton {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    gap: 3px;
    font-size: 15px;
   margin-left: 5%;
   padding: 7px;
   background-color: rgb(236, 237, 237);
   border-radius: 4%;
}

.formButton:hover {
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    background-color: rgb(168, 175, 175);
    
}

.Add_Edit-Students-input{
    opacity: 0.7;
}


/* .Add_Edit-Students-Backgrounds_grayStatic{
    background-color: rgb(171, 168, 168, 0.9);
    margin-top: -50%;
    width: 1920px;
    height: 1080px;
} */

.message-backgroung-profile {
    background-color: white;
    width: 240px;
    height: 500px;
    margin-top: -3%;
    margin-left: 20%;
    border: 0.5px solid black;
   
}
.add-chat-room {
    margin-top: 5%;
    margin-left: 55%;
    font-size: 13px;
}
.logout {
 cursor: pointer;
}

.message-tag {
    cursor: pointer;
}

.MainMessagePage {
    position: absolute;
    background-color: rgb(230, 230, 230);
    opacity: 1;
    border: 1px solid black;
    border-radius: 2%;
    left: 13%;
    top: 10%;
    width: 1300px;
    height: 700px;
    
}

.Message-Students-click {
    display: none;
}

.message-backgroung {
    background-color: rgb(240, 237, 237);
    height: 550px;
    width: 300px;
    margin-top: 10%;
}

.ChatRoomProfileAvatar {
    margin-top: 1%;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
   
}

.add-chatroom {
    font-size: 13px;
    margin-left: 65%;
    margin-top: 5%;
}

.chatroomtag {
    font-size: 18px;
    font-weight: 550;
    margin-left: 5%;
    margin-top: -5%;
}

.chatroom-textbox-profile {
    background-color: rgb(196, 191, 191);
    width: 230px;
    height: 65px;
    border-radius: 10%;
    margin-left: 10%;
    margin-top: 10%;
 
}
.chatroom-textbox-profile-current {
    background-color: rgb(125, 154, 229);
    width: 230px;
    height: 65px;
    border-radius: 10%;
    margin-left: 10%;
    margin-top: 10%;
}

.ChatRoom-NameProfileAdmin {
    margin-left: 30%;
    margin-top: -15%;
    font-size: 15px;
}

.messageMainTag{
    font-size: 30px;
    margin-top: 3%;
    margin-left: 8%;
}

.ChatRoom {
    margin-top: -7%;
}

.ChatRoomAdmin{
    margin-left: 30%;
    margin-top: -49%;
}

.messageAdmin-backgroung {
    background-color: rgb(240, 237, 237);
    height: 550px;
    width: 720px;
    margin-top: 10%;
    margin-left: 10%;
    border: 1px solid black;
}

.chatroom-members {
    font-size: 14px;
    margin-left: 5%;
    margin-top: 10%;
    font-weight: 550;
}

.chatroomtagAdmin {
    font-size: 18px;
    font-weight: 550;
    margin-left: 5%;
    margin-top: -10%;
}
.chatroomAdmin-textbox-profile {
    background-color: rgb(196, 191, 191);
    width: 230px;
    height: 65px;
    border-radius: 10%;
    margin-left: 10%;
    margin-top: 5%;
}

.ChatRoomProfileAdmin{

}

.ChatRoomProfileAvatarAdminMembers{
    margin-top: 9%;
    margin-left: 5%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
   
}

.ChatRoomProfileAvatarAdminMessages {
    margin-top: 1%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.MessagesAdmin{
    margin-left: 5%;
    margin-top: 6%;
    font-size: 15px;
    font-weight: 550;
}

.chatroomUser-textbox-profile {
    background-color: rgb(77, 102, 210);
    width: 230px;
    height: 65px;
    border-radius: 10%;
    margin-left: 60%;
    margin-top: 0%;
}

.ChatRoomProfileAvatarUserMessages {
    margin-top: 1%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.ChatRoom-NameProfileUser {
    margin-left: 30%;
    margin-top: -15%;
    font-size: 15px;
}

.MessageChatRoom{
    overflow: hidden;
    overflow-y: scroll;
}

.BackgroundChatMessages {
    background-color: rgb(242, 242, 242);
    width: 700px;
    height: 45px;
    border-radius: 3%;
    margin-top: 16%;
    margin-left: 2%;
    border: 1px solid black;
}
.ChatMessages{
    margin-top: 1.5%;
    margin-left: 2%;
}

.TextChat{
    height: 22px;
    border-radius: 2%;
}

.chat-container {
    height: 500px; /* Фіксована висота */
    overflow-y: auto; /* Автоматична прокрутка */
    padding: -200px;
}

/* Стилі для прокрутки */
.chat-container::-webkit-scrollbar {
    width: 6px;
}
.chat-container::-webkit-scrollbar-track {
    background: #ddd;
}
.chat-container::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

  .add-chatroom{
    cursor: pointer;
  }

  .MembersAdd{
    font-size: 50px;
    margin-left: 3%;
    cursor: pointer;
  }

.ExitMessageButton{
    height: 35px;
    width: 35px;
    margin-left: 95%;
    margin-top: -50%;
    cursor: pointer;
}
 :root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

 /*body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
} 

*/
.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 97%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(65% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);

}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

#SignInBlock{
    display: none;
}

#user-profile-click{
    display: none;
}

#openSignInForm {
    margin-top: 40%;
}

#bell-click {
    display: none;
}
 #SignInForm {
    margin-top:-3%;
 }

